@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700&display=swap&subset=cyrillic');

:root{
 --color-yellow: rgb(255, 200, 20);
 --text-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.8)
}

html{
 font-family: 'Fira Mono', sans-serif; font-size: 10px;
 /*hyphens: auto*/
}

body{
 font-size: 1.4em
}


body > main{
 display: flex; justify-content: center; align-items: center
}



@media all and (max-width: 320px){

}